p {
    color: red;
    font-size: 22pt;
  }
  
  #gruby_bielinski {
    color: green;
    font-size: 17pt;
    font-weight: bold;
  }
  
  #dlawszystkich_bielinski {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
  }
  